# User-specific files
.vscode/
Debug/
Release/
build/
third-party/*/lib/
third-party/*/bin/
lib/
bin/
*.suo
*.user
*.sln.docstates
*.o
*.obj
*.orig
*.log
*.tlog
*.html
*.css
*.js
*.sdf
*.exe
*.bmp
*.db
*.a
*.dll